/* Basic styling for the website */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Consistent background color */
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 2em;
    text-align: center;
}

/* Define the bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Bounce up */
    }
}

.bounce {
    animation: bounce 0.8s ease-in-out; 
}

/* Prevent selection only on the logo */
/*#logo {
    user-select: none;  /* Disable text selection on the logo */
    cursor: pointer;    /* Keep pointer cursor on hover */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
/*}

/* Add padding around the logo to increase clickable area */
.logo-hit-area {
    padding: 10px; /* Adjust padding as necessary */
    display: inline-block;
    user-select: none; /* Prevent text selection in this area */
    cursor: pointer;
}


img {
    max-width: 100px;
/*    cursor: pointer;
/*    outline: none;
/*    user-select: none; /* Prevent text selection */
/*    -webkit-user-select: none; /* Safari */
/*    -moz-user-select: none; /* Firefox */
/*    -ms-user-select: none; /* Internet Explorer/Edge */
/*    cursor: pointer; /* Ensures a pointer (hand) cursor on hover */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer {
    text-align: center;
    font-family: Arial, sans-serif; /* Apply Arial font to the footer */
  }

footer nav ul {
    list-style-type: none; /* Remove bullets from the list */
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline; /* Display the list items in a single line */
    margin-right: 20px; /* Add space between the links */
}

footer nav ul li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
}

footer nav a {
    text-decoration: none; /* Remove underline from the links */
    color: #773; /* Set link color (kaki in this case) */
}

footer nav a:hover {
    text-decoration: underline; /* Add underline on hover */
}

footer p {
    margin-top: 10px; /* Add space above the copyright text */
    font-size: 0.2em; /* Slightly reduce the font size */
}


/* Style for explosion particles */
.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 80%;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Neon glow */
}
